		/* element tag */
		div {
			background-color: green;
			width: 100%;
		}
		.one {
			padding-bottom: 100px;
		}
		@media (min-width: 768px) {
			div {
				background-color: yellow;
				width: 31%;
				margin: 1%;
				float: left;
			}
		}